.divider {
  background-color: #343A40;
  border-radius: 4px;
  height: 2.5px;
}

.light-gray-bckgd {
  background-color: #ECECEC;
}

/* Selectors need to be specific to override Bootstrap default styles */
.teacher-resource-col .podcast-btn {
  font-weight: 600;
}